.vscode
node_modules
*.macaroon
*.cert
*.pub
*.key
db
build
*.crt
*.csr
*.key
test/integration/data/temp

# exceptions
!test/integration/data/**/*.crt
!test/integration/data/**/*.cert
!test/integration/data/**/*.key
