.vscode
node_modules
*.macaroon
*.cert
*.pub
*.key
db
build
.temp
*.crt
*.csr
*.key
test/integration/data/temp
release/**/*.tar*

# exceptions
!test/integration/data/**/*.crt
!test/integration/data/**/*.cert
!test/integration/data/**/*.key
